<p id="notice"><%= notice %></p>

<h1>On fait les courses</h1>

<% @rayons.each do |rayon| %>
  </br><strong><%= rayon.libelle %></strong></br></br>
  <% @item2s.each do |item2| %>
    <% if item2.rayon_id == rayon.id %>
      <%= item2.libelle %> (<%= item2.quantite %>)
      <%= link_to '[Infos]', item2 %>
      <%= link_to '[M]', edit_item2_path(item2) %>
      <%= link_to '[S]', item2, method: :delete, data: { confirm: 'Are you sure?' } %></br>
    <% end %>  
  <% end %>
<% end %>

<br>
<%= link_to 'Ajouter un produit', new_item2_path %>
</br>
<a href="/rayons">Liste des rayons</a>

</br></br>

